.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 267px;
  height: 395px;
  padding: 24px;
  background: radial-gradient(62.71% 76.27% at -10.1% -10.48%, #323232 0%, #262828 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  opacity: .2;
  img {
    opacity: .5;
  }
}