@import "./scss/library/normalize.scss";

:root {
  --primary-color: #4DDFBC;
  --white: #ffffff;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

body {
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../public/bg.png);
  background-size: cover;
  color: white;
  min-height: 105vh;
  position: relative;
  padding-top: 33px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.wrapper {
  max-width: 1190px;
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;
}

h1  {
  font-weight: 700;
  font-size: 8vw;
  line-height: 20px;
  color: white;
}
button .active-page {
  border: 3px solid var(--primary-color);
}

.mobileMenuBg {
  position: absolute;
  padding: 40px 60px;
  border-radius: 10px;
  top: 80px;
  right: 0;
  background: radial-gradient(
    62.71% 76.27% at -10.1% -10.48%,
    #323232 0%,
    #262828 100%
  ),
  #d9d9d9;
  z-index: 5;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 60px;
  a {
    color: white;
    z-index: 10;
    text-decoration: none;

  }
}

.menu-btn {
  margin-left: auto;
}
